{{extend 'layout.html'}}

{{block head}}
{{end}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biography</title>
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>
<br>
<div class="grid-container" style="margin-left: 50px; margin-right: 50px;">
    <div class="grid-item">
        <img src="{{=URL('static/images', 'self_portrait.jpg')}}" style="width: 100%;">
    </div>
    <div class="grid-item">
        <h2 style="text-align: center"> Matthew Hawkins </h2>
        <p> &emsp; My name is Matthew Hawkins and I am a photographer from Santa Cruz, California. My photography career
            first began as a Freshman at the University of California, Santa Cruz in which I studied photography and photographic arts.
            These first few classes became a catalyst for what would become a major passion and eventually small business for me.
            <br> <br>
            &emsp; Over the past four years, I have been photographing everything from people to landscapes to the night sky.
            I have done everything from head-shots, couples photos, family photos, graduation portraits, event photos including concerts, performances
            and recitals. I have a large portfolio which covers a wide variety of disciplines in photography </p>
            <br> <br>
            I absolutely love what I do and I hope my work displayed here shows that.
            <br>
            <br>
            <img src="{{=URL('static/images', 'signature.jpg')}}" style="width: 30%">
    </div>
</div>
<br>
</body>
</html>